public/
public-software/
sites/software/public/

asystom/media/*.mp4
asystom/media/*.mov
static/asystom/media/*.mp4
static/asystom/media/*.mov
static/assets/ZWCAD 2027 What's New Video/
static/zwsoft-uk/zwcad-2027/assets/videos/data-extraction-upgrade-subtitled.mp4
